
@model Bugtracker.Models.AdminUserView
@{
    ViewBag.Title = "ManageRoles";
}
<h2>RoleManagement</h2>
@using (Html.BeginForm("ManageRoles", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden(Model.User.Id)
    <hr />
    <h4>User Name : </h4>
    <div class="row" style="margin-left: 5px">
        @Model.User.FirstName
        @Model.User.LastName
    </div>
    <hr />
    <h4>Choose Role(s) To Be Assigned: </h4>
    @Html.ListBox("SelectedRoles", Model.Role)
    <hr />
    <button type="submit">
        Submit
    </button>
}
<hr />

    @Html.ActionLink("Back to List", "Index")
