@model IEnumerable<Bugtracker.Models.Tickets>

 <!--CSS-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css"/>
 

    @{
        ViewBag.Title = "Your Tickets";


    }

    <div class="col-md-12 subnav">
        <h1>Tickets</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 content">
                <p class="text-danger">@TempData["Error"]</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                Project
                            </th>
                            <th>
                                Created
                            </th>
                            <th>
                                Priority
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Assigned To
                            </th>
                            <th class="hidden">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Title, "Details", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.ActionLink(item.Project.Title, "Details", "Projects", new { id = item.ProjectId }, null)
                                </td>
                                <td>
                                    @item.Created.ToString("M/d/yy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td>
                                <td>
                                    @if (item.AssignedToUser == null)
                                    {
                                        <span class="text-danger">Unassigned</span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName) @Html.DisplayFor(modelItem => item.AssignedToUser.LastName)
                                    }
                                </td>
                                <td class="hidden">
                                    @item.Description
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th>
                                Priority
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Type
                            </th>
                            <th>

                            </th>
                            <th class="hidden">

                            </th>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>
    </div>

<!--jQuery-->
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
@*@Scripts.Render("~/bundles/jquery")*@
<!--DataTables-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<script>
    $('.table').DataTable();
</script>



    @*@section Scripts {
        <script src="~/Scripts/TicketsFilter.js"></script>
    }*@
