@model Bugtracker.Models.UsersListViewModel

<!--CSS-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" />
<style>
    .multiselect-container {
        position: absolute;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .multiselect-container .input-group {
            margin: 5px;
        }

        .multiselect-container > li {
            padding: 0;
        }

            .multiselect-container > li > a.multiselect-all label {
                font-weight: bold;
            }

            .multiselect-container > li > label.multiselect-group {
                margin: 0;
                padding: 3px 20px 3px 10px;
                height: 100%;
                font-weight: bold;
            }

            .multiselect-container > li > a > label {
                margin: 0;
                height: 100%;
                cursor: pointer;
                font-weight: normal;
            }

                .multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
                    margin: 0;
                }

                .multiselect-container > li > a > label > input[type="checkbox"] {
                    margin-bottom: 5px;
                }

    .btn-group > .btn-group:nth-child(2) > .multiselect.btn {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
</style>
@{
    ViewBag.Title = "Users List";
}

<div class="col-md-12 subnav">
    <h1>Users</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 content">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th style="display:none">
                            Role
                        </th>
                        <th>
                            Projects
                        </th>
                        <th>
                            Manage Role
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @{ var users = @Model.Users; }
                    @foreach (var item in users)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td class="role" style="display:none">
                                @{ var roles = item.Roles; }
                                @foreach (var role in roles)
                                {
                                    <p>@role</p>
                                }
                            </td>
                            <td>
                                @{ var projects = item.Projects; }
                                @foreach (var project in projects)
                {
                                    <p>@project</p>
                                }
                            </td>
                            <td class="sel" uid="@item.Id">
                                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                {
                                    <select type="text" class="form-control multiselect multiselect-icon" multiple="multiple" role="multiselect">
                                        <option value="Admin" data-icon="fa fa-adn">Admin</option>
                                        <option value="Project Manager" data-icon="fa fa-user">Project Manager</option>
                                        <option value="Developer" data-icon="fa fa-desktop">Developer</option>
                                        <option value="Submitter" data-icon="glyphicon-pencil">Submitter</option>
                                    </select>
                                    @*@Html.ActionLink("Modify User Roles", "EditUser", new { id = @item.Id }, new { @class = "btn btn-warning" }) }*@
                                }

                            </td>
                        </tr>
                                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<!--jQuery-->
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
@*@Scripts.Render("~/bundles/jquery")*@

<!--DataTables-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<script>
    $('.table').DataTable();
</script>
<script>
    $(document).ready(function () {
        var roles = $('.role');
        var multi = $('.sel');
        // alert(roles.length + ' ' + multi.length)
        for (var i = 0; i < roles.length; i++) {
            var children = $(roles[i]).children();
            for (var j = 0; j < children.length; j++) {
                //alert($(children[j]).html());
                var selChildren = $(multi[i]).children("select").children();
                for (var k = 0; k < selChildren.length; k++) {
                    if ($(selChildren[k]).val() == $(children[j]).html()) {
                        $(selChildren[k]).attr('selected', 'selected');
                    }
                }
                // $(multi[i]).children("select").val($(children[j]).html());
            }
        }
        $("select[role='multiselect']").multiselect();
        $('.paginate_button').click(function () {
            var roles = $('.role');
            var multi = $('.sel');
            // alert(roles.length + ' ' + multi.length)
            for (var i = 0; i < roles.length; i++) {
                var children = $(roles[i]).children();
                for (var j = 0; j < children.length; j++) {
                    //alert($(children[j]).html());
                    var selChildren = $(multi[i]).children("select").children();
                    for (var k = 0; k < selChildren.length; k++) {
                        if ($(selChildren[k]).val() == $(children[j]).html()) {
                            $(selChildren[k]).attr('selected', 'selected');
                        }
                    }
                    // $(multi[i]).children("select").val($(children[j]).html());
                }
            }
            $("select[role='multiselect']").multiselect();
        });
        /////////////////////////////////////////////////////////
        $("input[type='checkbox']").click(function () {
            //alert($(this).val());
            var userId = $(this).parent().parent().parent().parent().parent().parent().attr('uid');
            var role = $(this).val();
            if ($(this).is(":checked")) {
                $.ajax({
                    type: 'GET',
                    url: '/Admin/AddRole/' + '?userId=' + userId + '&role=' + role,
                    data: {},
                    success: function (result) {
                        //alert(result);
                    },
                    error: function () { alert('Error'); }
                });
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: '/Admin/RemoveRole/' + '?userId=' + userId + '&role=' + role,
                    data: {},
                    success: function (result) {
                        //alert(result);
                    },
                    error: function () { alert('Error'); }
                });
            }
        });
    });
</script>


