@model Bugtracker.Models.UsersListViewModel

 <!--CSS-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css"/>

@{
    ViewBag.Title = "Users List";
}

<div class="col-md-12 subnav">
    <h1>Users</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 content">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                            Projects
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @{ var users = @Model.Users; }
                    @foreach (var item in users)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @{ var roles = item.Roles; }
                                @foreach (var role in roles)
                                {
                                    <p>@role</p>
                                }
                            </td>
                            <td>
                                @{ var projects = item.Projects; }
                                @foreach (var project in projects)
                {
                                    <p>@project</p>
                                }
                            </td>
                            <td>
                                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                {
                                    @Html.ActionLink("Modify User Roles", "EditUser", new { id = @item.Id }) }

                            </td>
                        </tr>
                                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<!--jQuery-->
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
@*@Scripts.Render("~/bundles/jquery")*@
<!--DataTables-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<script>
    $('.table').DataTable();
</script>






@section Scripts {
    <script>
        $(document).ready(function () {
            $('.table').dataTable().columnFilter({
                aoColumns: [
                    { type: "text" },
                    { type: "select", values: ['Admin', 'Project Manager', 'Developer', 'Submitter'] },
                    { type: "text" },
                ]

            });
        });

    </script>
}