<!--CSS-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" />





@model IEnumerable<Bugtracker.Models.Projects>

@{
    ViewBag.Title = "Your Projects";
}

<div class="row">
    <div class="col-md-6 subnav">
        <h1>Projects</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 subnav">
        <div class="admin-btns">
            @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Project Manager"))
            {
                @Html.ActionLink(" Create New ", "Create", "Projects", new { controller = "Projects", action = "Create" }, new { @class = "action-btn" })
                @Html.ActionLink(" | All Projects ", "ViewAll", "Projects", new { controller = "Projects", action = "ViewAll" }, new { @class = "action-btn" })
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

        @foreach (var item in Model)
            {
            <div class="col-md-12">
                    <h3>@Html.ActionLink(item.Title, "Details", new { id = item.Id })</h3>
                    <p>Deadline: @item.Deadline.ToString("MMMM dd, yyyy h:mm t")M</p>
            </div>
            if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Project Manager"))
                {
                <div class="col-md-12">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Assign Users", "AssignUsers", new { id = item.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Archive", "ArchiveProject", new { id = item.Id }, new { @class = "btn btn-default" })
                </div>
                <hr />
            }
        }

    </div>
</div>




<!--jQuery-->
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
@*@Scripts.Render("~/bundles/jquery")*@

<!--DataTables-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<script>
    $('.table').DataTable();
</script>
