
<!--CSS-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" />






@model IEnumerable<Bugtracker.Models.Projects>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin")){
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        <span>|</span>
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id })

                </td>
            </tr>
        }
    </tbody>
</table>


<!--jQuery-->
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
@*@Scripts.Render("~/bundles/jquery")*@

<!--DataTables-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<script>
    $('.table').DataTable();
</script>
